<!-- why? -->
<div class="why-section">

        <!-- why -->
        <div class="why">
                <div class="choose">

                        <h2>
                                {{ 'about.why.CHOOSE' | translate}}
                                <br>
                                <span>
                                        {{ 'about.why.INDUSTRIAL' | translate}}
                                </span>
                        </h2>
                        <p>
                                {{ 'about.why.WHY' | translate}}
                        </p>

                </div>
        </div>

        <!-- img -->
        <div class="img-center">

                <div class="img-bg">
                        <div class="flex-1"></div>
                        <div class="bg-color"></div>
                </div>

                <div class="img">
                        <img src="../../../assets/images/us.jpg"
                                alt="Maquina Mujer Planta Lagalm">
                </div>

        </div>

        <!-- history -->
        <div class="history">
                <div class="history-lagalm">

                        <h3>
                                {{ 'about.history.HISTORY' | translate}}
                        </h3>

                        <h2>
                                {{ 'LAGALMIND' | translate}}
                        </h2>
                        <p>
                                {{ 'about.history.BORN' | translate}}
                        </p>

                </div>
        </div>

</div>

<div class="about-section">

        <div class="committed-youth">
                <div class="youth-img">
                        <img src="../../../assets/images/ind-serv.jpg" alt="">
                </div>
                <div class="youth-text">
                        <h3>
                                {{ 'about.young.YOUNG' | translate}}
                        </h3>

                        <div class="flex justify-end">
                                <p>
                                        {{ 'about.young.COMMITTED' | translate}}
                                </p>
                        </div>
                        
                        
                </div>
        </div>
        
        <div class="mve">
                <div *ngFor="let card of 'about.mve' | translate" class="mve-card">

                        <div class="media">
                                <img [src]="card.IMG" />
                        </div>

                        <div class="content">
                                <h3>
                                        {{ card.TEXT }}
                                </h3>
                                <p>
                                        {{ card.CONTENTS }}
                                </p>
                        </div>

                </div>
        </div>

        <div class="quality-politics">

                <div class="politic">
                        <p>
                                {{ 'about.politic.POLITIC' | translate}}
                        </p>
                </div>

                <div class="img">
                        <img src="../../../assets/images/soluciones.jpg" alt="">
                </div>

                <div class="content">
                        <p>
                                {{ 'about.politic.QUALITY' | translate}}
                        </p>
                </div>

        </div>
        
</div>

<!-- testimony -->
<!-- <swiper [slidesPerView]="2"
        [centeredSlides]="true"
        [spaceBetween]="50"
        [pagination]="{ dynamicBullets: true }"
        [effect]="'coverflow'"
        [grabCursor]="true"
        [coverflowEffect]="{
                rotate: 30,
                stretch: 0,
                depth: 0,
                modifier: 1,
                slideShadows: false
        }" [autoplay]="{
                delay: 5000,
                disableOnInteraction: true
        }">

        <ng-template swiperSlide *ngFor="let testimony of 'about.testimonials' | translate">

                <div class="testimony-card">

                        <div class="card-top">
                                <p>
                                        {{ testimony.TEXT }}
                                </p>
                                <fa-icon [icon]="faQuoteRight" size="sm"></fa-icon>
                        </div>

                        <hr>

                        <div class="card-bottom">

                                <div class="profile-img">
                                        <img [src]="testimony.IMG">
                                </div>

                                <div class="profile-name">
                                        <p class="name">
                                                {{ testimony.NAME }}
                                        </p>
                                        <p class="position">
                                                {{ testimony.POSITION }}
                                        </p>
                                </div>

                        </div>

                </div>

        </ng-template>
</swiper> -->