<footer class="bg-gray-200 pt-10 px-6 pb-5 md:py-12 mt-10 md:mt-12 rounded-t-lg">

    <div class="footer-top">

        <!-- certification -->
        <div class="certification">

            <div>
                <img [src]="logo.route" [alt]="logo.name">
                <p>
                    {{ 'footer.CERTIFICATE' | translate }}
                </p>
            </div>

            <div>
                <img [src]="bureau.route" [alt]="bureau.name">
                <img [src]="iso.route" [alt]="iso.name">
            </div>

        </div>

        <div class="link-footer">

            <h3> {{ 'footer.ABOUTUS' | translate }} </h3>

            <ul>
                <li>
                    <a routerLink="home">
                        {{ 'footer.WHY' | translate }}
                    </a>
                </li>
                <li>
                    <a routerLink="home">
                        {{ 'footer.SOLUTIONS' | translate }}
                    </a>
                </li>
                <li>
                    <a routerLink="about">
                        {{ 'footer.STORY' | translate }}
                    </a>
                </li>
                <li>
                    <a routerLink="about">
                        {{ 'footer.POLICIES' | translate }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="link-footer">

            <h3> {{ 'footer.SERVICES' | translate }} </h3>

            <ul>
                <li>
                    <a routerLink="services">
                        {{ 'footer.KNOW' | translate }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="link-footer">

            <h3> {{ 'footer.CONTACT' | translate }} </h3>

            <ul>
                <li>
                    <a routerLink="contact">
                        {{ 'footer.WECONTACT' | translate }}
                    </a>
                </li>
                <li>
                    <a routerLink="#">
                        contacto@lagalm.mx
                    </a>
                </li>
                <li>
                    <a routerLink="#">
                        55 1579 4661
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <hr class="border rounded border-red-400 opacity-60 mx-0 md:mx-16 my-8">

    <div class="footer-bottom">

        <div class="follow-adress">

            <div>
                <h4> {{ 'footer.FOLLOWUS' | translate }} </h4>

                <div class="social">
                    <a href="https://www.facebook.com/Lagalm" target="_blank"
                        class="icon-fa">
                        <fa-icon [icon]="faFacebookF" size="lg"></fa-icon>
                    </a>
                    <a href="https://mx.linkedin.com/" target="_blank"
                        class="icon-li">
                        <fa-icon [icon]="faLinkedinIn" size="lg"></fa-icon>
                    </a>
                    <a href="https://www.whatsapp.com" target="_blank"
                        class="icon-wa">
                        <fa-icon [icon]="faWhatsapp" size="lg"></fa-icon>
                    </a>
                </div>
            </div>

            <div>
                <h4> {{ 'footer.ADRESS' | translate }} </h4>
                <p>
                    #23, Sta Maria Cuautepec.<br>
                    54949 Fuentes del Valle, Méx.
                </p>
            </div>

        </div>

        <div class="rights">
            <div>
                <a routerLink="home">
                    Lagalm Industrial S.A. de C.V.
                </a>
                <p>
                    {{ 'footer.RIGHTS' | translate }}
                </p>
            </div>
        </div>

    </div>

</footer>