<div class="service-img">

    <div class="service">
        <h2>
            {{ 'services.SERVICES' | translate}} 
        </h2>
        <p>
            {{ 'services.SERVICES-TEXT' | translate}}
        </p>    
    </div>

</div>

<div class="services-section">

    <div *ngFor="let card of 'services.SERVICE-CARD' | translate" class="service-card" [style]="card.img">
        
        <div class="card">

            <div class="top-card">
                <h3> 
                    {{ card.title }}
                    <br>
                    <span *ngIf="card.sub">
                        {{ card.sub }}
                    </span>
                </h3>
            </div>

            <div class="bottom-card">
                <div class="text-link">

                    <div class="text">
                        <p>
                            {{ card.text }}
                        </p>
                    </div>
                    
                    <div class="link" *ngIf="card.link">
                        <a [routerLink]="card.link">
                            <fa-icon [icon]="faArrowRight" size="md"></fa-icon>
                        </a>
                    </div>

                </div>
            </div>

        </div>
        
    </div>

</div>

<!-- contactUs -->
<div class="contact-section">

    <div class="contact-bg">

        <div class="text">
            <h4>
                {{ 'services.WEARE' | translate}}
            </h4>
            <p>
                {{ 'services.PROVIDE' | translate}}
            </p>    
        </div>

        <div class="btn">
            <a routerLink="/contact">
                {{ 'services.CONTACT' | translate}}
            </a>
        </div>

    </div>

</div>